.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }



Body{margin: 0 auto;padding: 0 auto;}
}
#sam {
  margin: 30px;
  height: 220px;
  width: 70%;
  background-color: darkorchid;
  border-radius: 5px solid black;
  text-align: center;
}


#new12{float: left;
background-color:gray;padding: 2em,0em;
}
.p{font: 600;}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
